{% extends "index.html" %}
{% block content %}
<div class="content" id="experiment-article-section-1-content">
	<p>
		Here we see a perfectly secure cryptosystem which was developed by
		Gilbert Vernam in 1918. Vernam sees a trade off between security and
		convenience, and the trade-off has to do with the length of the key
		tape as its security depends on the fact that the key is used only
		once.
	</p>
	<br>
	<h3>About the experiment:</h3>
	<p>
		The main idea is to realize that any perfectly secure encryption scheme
		(and not just the One-Time Pad) requires the keyspace to be at least as
		large as the message space, and is therefore <span style="font-style: italic;">impractical</span>
	</p>
</br>
</div>
{% endblock content %}