<html>
<head>
</head>
<body>  
    <h4> Employee Form </h4>

    <form method="POST" action="{{url_for('index')}}" >

        {{ form1.fullName.label }} {{ form1.fullName }}

        {{ form1.dept.label }} {{ form1.dept }}

        <input type="submit" value="Submit">
        
        <h5>
            {{ form1.fullName.data }}
            {{ form1.dept.data }}
        </h5>

    </form>
    <hr>
    <h4> Company Details </h4>

    <form method="POST" action="{{url_for('index')}}">


        {{ form.yearsOfExp.label }} {{ form.yearsOfExp }}       

        <input type="submit" value="Submit">
        <h5>
            {{ form.yearsOfExp.data }}  
        </h5>

    </form>

</body>
</html>