{% extends "index.html" %}
{% block content %}
<div class="content" id="experiment-article-section-6-content">
<ul>
<li> Prove that if only a single character is encrypted, then the shift cipher is perfectly secret.</li>
<li>What is the largest plaintext space M you can find for which the
mono-alphabetic substitution cipher provides perfect secrecy? (Note: M
need not contain only valid English words.)<br>
</br></li>
<li>Show how to use the Vigenere cipher to encrypt any word of length
t so that perfect secrecy is obtained (Note: you can choose the length
of the key).</li>
</ul>
</div>		
{% endblock content %}
