<html>
<head>
</head>
<body>  


    <h1 class="text-h2-lightblue">
        Vernam Cipher and Perfect secrecy
    </h1>
    <!--    Entire content of the Experiment--> 
    <div class="content" id="experiment-article-section-4-content">


        <!-- First section of the Experiment--> 

        <h2>
            Testing Perfect Secrecy using Shannon's Theorem
        </h2>
        
        <p>
            Is the following encryption scheme perfectly secure?
            You can observe as many encrypted text and key pairs as you wish.
            Press "Next Plaintext" method to get more pairs.
        </p>

        <form method="POST" action="{{url_for('index')}}" >

            <p>
                Plaintext {{ form1.plaintext1 }}
            </p>

            <p>
                Key {{ form1.key1 }}
            </p>

            <p>
                <input type="submit" value="Encrypt"/>
            </p>

            <p>
                Cyphertext
                <br/><br/>
                <input value="{{ form1.ciphertext1.data }}"/>
            </p>

        </form>



        <p>
            For all the possible pairs of plaintext of
            size 8, and the key given by you, we will provide you with the
            encrypted texts with the same encryption scheme. You can observe the
            input and try to break it. <br>Put your key here (between size 6 and 12): 
            <br/>
        </p> 

        <form method="POST" action="{{url_for('index')}}" >


            <p>
                Key {{ form2.key2 }}
            </p>

            <p>
                <input type="submit" value="Encryption Set"/>
            </p>

            <p>
                Multiple tuples of &lt;Plaintext, Ciphertext&gt;:
                <br/><br/>
                <textarea cols="50" id="textarea2" name="textarea" rows="8">
                    {{ form2.pairs2.data }}
                </textarea>
            </p>

        </form>


        <h2>
            Is the given encryption scheme secure?
        </h2>
        <hr/>

        <form method="POST" action="{{url_for('index')}}" >

            <p>
                {{ form3.response.label }} <br>
                {{ form3.response }}
            </p>
            <p>
                If NO, Give two plaintexts 'm1' and 'm2' for the above key such that Encryption(m1) = Encryption(m2)?
            </p>
            <p>
                {{ form3.m1.label }}
                {{ form3.m1 }}
            </p>
            <p>
                {{ form3.m2.label }}
                {{ form3.m2 }}
            </p>
            <p>
                <input type="submit" value="Check Answer"/>
            </p>
        </form>

        <h2>
            Simulator
        </h2>
        <hr/><br/>
        <form method="POST" action="{{url_for('index')}}" >

            <p>
                {{ form4.plaintext.label }} {{ form4.plaintext }}
            </p>

            <p>
                {{ form4.key.label }} {{ form4.key }}
                <input type="button" value="Generate Random Key">
            </p>

            <p>
                <input type="submit" value="Encrypt">
                <input type="button" value="Decrypt">
            </p>

            <p>
                <!-- {{ form4.ciphertext.label }} -->
                Cyphertext
                <br/><br/>
                {{ form4.ciphertext }}
            </p>

        </form>
    </div>
</body>
</html>